---
// src/pages/index.astro
import { getCollection } from "astro:content";

import ContactCard from "../components/ContactCard.astro";
import TimelineEntry from "../components/TimelineEntry.astro";

import astroLogo from "../assets/rjk.svg";
import Layout from "../layouts/Layout.astro";

// Get all blog posts and sort by date
const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);

// Get the latest post and the rest
const [latestPost, ...previousPosts] = sortedPosts;

const timelineEntries = await getCollection("timeline");
const sortedTimelineEntries = timelineEntries.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);

// Get current year for footer
const currentYear = new Date().getFullYear();
---

<Layout>
  <div class="min-h-screen -pt-96 p-4 md:p-8 flex flex-col">
    <div class="max-w-5xl mx-auto space-y-8 flex-grow">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        <div class="md:col-span-3 bg-white dark:bg-black rounded-3xl text-white">
          <div class="flex flex-col md:flex-row md:gap-2">
            <div
              class="bg-gradient-to-br from-blue-200/10 to-blue-400/10 dark:from-blue-600/30 dark:to-blue-800/10 rounded-2xl m-4"
            >
              <div class="flex-grow p-8">
                <h2 class="text-2xl text-blue-500 font-medium mb-4">
                  Hi, I'm Rob
                </h2>
                <p class="text-blue-600/50 dark:text-blue-300/50 leading-relaxed">
                  I’m an electrical and computer engineering student with an
                  entrepreneurial spirit at the University of Texas at Austin.
                  Reach out if you’d like to work together.
                </p>
                <a
                  href="/writing/about"
                  class="text-blue-500 text-sm hover:text-blue-600 border hover:border-blue-500/50 border-blue-200/50 dark:border-blue-500/50 dark:bg-blue-600/20 w-fit p-1 px-3 rounded-xl flex-row flex mt-4 gap-1 hover:gap-2 hover:mr-[-4px] transition-all"
                >
                  Learn More
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right"
                  >
                    <path d="M5 12h14"></path>
                    <path d="m12 5 7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="md:w-1/3 flex items-center p-4 px-8 pt-0 md:p-0">
              <ContactCard
		
                email="contact@robertjkirk.com"
                linkedin="robertjkirk"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Main Grid Layout -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Timeline Section -->
        <div class="bg-white dark:bg-black rounded-3xl p-8 border border-gray-100 dark:border-neutral-950">
          <div class="flex justify-between items-center mb-6">
            <div class="flex items-center justify-center gap-3 text-gray-900 dark:text-neutral-100">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-list"
                ><path d="M3 12h.01"></path><path d="M3 18h.01"></path><path
                  d="M3 6h.01"></path><path d="M8 12h13"></path><path
                  d="M8 18h13"></path><path d="M8 6h13"></path></svg
              >

              <h2 class="text-2xl font-medium ">Timeline</h2>
            </div>
            <a
              href="/timeline"
			  title="View Full Timeline"
              class="text-sm text-neutral-600 hover:text-blue-600 flex-row flex justify-center items-center gap-1 hover:gap-2 hover:mr-[-4px] transition-all"
            >
              Full Timeline
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-right"
              >
                <path d="M5 12h14"></path>
                <path d="m12 5 7 7-7 7"></path>
              </svg>
            </a>
          </div>

          <div class="space-y-3">
            {
              sortedTimelineEntries
                .slice(0, 3)
                .map((entry) => (
                  <TimelineEntry
                    title={entry.data.title}
                    tags={entry.data.tags}
                    description={entry.data.description}
                    href={`/timeline/${entry.slug}`}
                    featuredText={entry.data.featuredMessage}
                  />
                ))
            }
            <a
              href="/timeline"
              title="View Full Timeline"
			  aria-label="View Full Timeline"
              class="text-center w-full hover:scale-125 transition-all flex justify-center py-2 text-sm text-gray-300 hover:underline cursor-pointer hover:text-blue-600 "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-ellipsis-vertical"
                ><circle cx="12" cy="12" r="1"></circle><circle
                  cx="12"
                  cy="5"
                  r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg
              >
            </a>
          </div>

          <p class="text-gray-300 dark:text-neutral-600 text-xs mt-2">
            Click on each entry to learn more about my experience.
          </p>
        </div>

        <!-- Writing Section -->
        <div class="bg-white dark:bg-black  rounded-3xl p-8 border border-gray-100 dark:border-neutral-950">
          <div class="flex justify-between items-center mb-6">
            <div class="flex items-center justify-center gap-3 text-gray-900 dark:text-neutral-100">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-book-open-text"
              >
                <path d="M12 7v14"></path>
                <path d="M16 12h2"></path>
                <path d="M16 8h2"></path>
                <path
                  d="M3 18a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h5a4 4 0 0 1 4 4 4 4 0 0 1 4-4h5a1 1 0 0 1 1 1v13a1 1 0 0 1-1 1h-6a3 3 0 0 0-3 3 3 3 0 0 0-3-3z"
                ></path>
                <path d="M6 12h2"></path>
                <path d="M6 8h2"></path>
              </svg>
              <h2 class="text-2xl font-medium ">Writing</h2>
            </div>
            <a
              href="/writing"
			  title="View All Posts"
			  aria-label="View All Posts"
              class="text-sm text-neutral-600 hover:text-blue-600  flex-row flex justify-center items-center gap-1 hover:gap-2 hover:mr-[-4px] transition-all"
            >
              All Posts
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-arrow-right"
              >
                <path d="M5 12h14"></path>
                <path d="m12 5 7 7-7 7"></path>
              </svg>
            </a>
          </div>

          <!-- {latestPost && (
    
          <article class="bg-gray-50 rounded-2xl p-6 mb-6 border border-gray-100">
            <a href={`/writing/${latestPost.slug}`} class="block">
              <div class="flex items-center gap-2 mb-3">
                <span class="text-sm font-medium text-blue-600">Latest Post</span>
                <span class="inline-block w-1.5 h-1.5 rounded-full bg-blue-600"></span>
              </div>
              <h3 class="text-xl font-medium hover:text-blue-600 transition-colors">
                {latestPost.data.title}
              </h3>
              <p class="text-gray-600 mt-2 line-clamp-2">
                {latestPost.data.description}
              </p>
              <div class="flex items-center gap-2 mt-4 text-sm text-gray-500">
                <span>{latestPost.data.formattedDate}</span>
                <span class="inline-block w-1.5 h-1.5 rounded-full bg-gray-500"></span>
                <span>{latestPost.data.readingTime} min read</span>
              </div>
            </a>
          </article>
        )}

        <div class="space-y-4">
          {previousPosts.slice(0, 3).map(post => (
            <article class="group bg-white rounded-xl p-4 cursor-pointer hover:bg-gray-50 transition-all border border-gray-100">
              <a href={`/writing/${post.slug}`} class="block">
                <h3 class="font-medium group-hover:text-blue-600 transition-colors">
                  {post.data.title}
                </h3>
                <div class="flex items-center gap-2 mt-1">
                  <span class="text-sm text-gray-500">{post.data.formattedDate}</span>
                  <span class="inline-block w-1.5 h-1.5 rounded-full bg-gray-500"></span>
                  <span class="text-sm text-gray-500">{post.data.readingTime} min read</span>
                </div>
              </a>
            </article>
          ))}
        </div> -->

          {
            !latestPost && (
              <div class="text-gray-400 text-sm">
                No posts available at the moment.
              </div>
            )
          }
          <div class="space-y-3">
            {
              latestPost && (
                <TimelineEntry
                  title={latestPost.data.title}
                  featuredText="Latest Post"
                  tags={[
                    latestPost.data.formattedDate,
                    latestPost.data.readingTime + " min read",
                  ]}
                  description={latestPost.data.description}
                  href={`/writing/${latestPost.slug}`}
                />
              )
            }

            {
              previousPosts
                .slice(0, 3)
                .map((post) => (
                  <TimelineEntry
                    title={post.data.title}
                    tags={[
                      post.data.formattedDate,
                      post.data.readingTime + " min read",
                    ]}
                    description=""
                    href={`/writing/${post.slug}`}
            
                  />
                ))
            }
            <a
              href="/writing"
              title="View All Posts"
			  aria-label="View All Posts"
              class="text-center hover:scale-125 transition-all w-full flex justify-center py-2 text-sm text-gray-300 hover:underline cursor-pointer hover:text-blue-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-ellipsis-vertical"
                ><circle cx="12" cy="12" r="1"></circle><circle
                  cx="12"
                  cy="5"
                  r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
