---
// src/components/SidebarInfo.astro
import { MapPin, Mail, Linkedin, Twitter, Clock } from "lucide-react";

interface Props {
  email?: string;
  twitter?: string;
  linkedin?: string;
}

const {
  email = "hello@robertkirk.com",
  twitter = "",
  linkedin = "/in/robertjkirk",
} = Astro.props;
---

<div class="rounded-2xl p-2 pr-12 flex flex-col justify-between">
  <div class="space-y-4">
    <div class="flex items-center gap-3 text-black">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-contact-round"
        ><path d="M16 2v2"></path><path d="M17.915 22a6 6 0 0 0-12 0"
        ></path><path d="M8 2v2"></path><circle cx="12" cy="12" r="4"
        ></circle><rect x="3" y="4" width="18" height="18" rx="2"></rect></svg
      >

      <h2 class="text-2xl font-medium">Reach Out</h2>
    </div>
    <div class="space-y-3">
      <a
        target="_blank"
        href={`mailto:${email}`}
        class="flex items-center gap-2 text-gray-400 hover:text-gray-600 transition-colors"
      >
        <Mail size={18} />
        <span>{email}</span>
      </a>
      {
        twitter.length > 0 && (
          <a
            target="_blank"
            href={`https://twitter.com/${twitter.replace("@", "")}`}
            class="flex items-center gap-2 text-gray-400 hover:text-gray-600 transition-colors"
          >
            <Twitter size={18} />
            <span>{twitter}</span>
          </a>
        )
      }
      <a
        target="_blank"
        href={`https://linkedin.com/in/${linkedin}`}
        class="flex items-center gap-2 text-gray-400 hover:text-gray-600 transition-colors"
      >
        <Linkedin size={18} />
        <span>{linkedin}</span>
      </a>
    </div>
  </div>
</div>
